{% load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'busapp/css/bus.css' %}" />
  </head>
  <body>
    <div class="container">
      <img src="{% static 'busapp/media/gantavya_logo.png' %}" alt="Image Description" class="page-image" />
      <a href = "video_feed" class="rectangular-button1">ON ARRIVAL</a>
      <a href = "recognize" class="rectangular-button2">ON EXIT</a>
      </div>
  </body>
</html>